@{
    ViewBag.Title = "Principal";
}

<div class="jumbotron">
    <h1>Gestion de Usuarios</h1>
    <p class="lead">Módulo de gestión de usuarios.</p>
    <p><a href="~/Usuarios/" class="btn btn-primary btn-lg">Usuarios &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Artículos en Custodia</h2>
        <p>
            En esta opción el usuario podrá realizar las acciones de:
            <ul>
                <li>Insertar un nuevo artículo entregado para custodia.</li>
                <li>Consultar los artículos que existen en custodia por diferentes criterios.</li>
                <li>Consultar el detalle de los artículos que han sido devueltos a sus diferentes dueños</li>
            </ul>
        </p>
        <p><a class="btn btn-default" href="~/ArticuloPerdidoes/">Artículos en Custodia &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Categorías</h2>
        <p>
            En esta opción el usuario podrá realizar las acciones de:
            <ul>
                <li>Insertar un nueva categoría de artículo.</li>
                <li>Consultar las categorías que existen para los diferentes artículos.</li>
            </ul>
        </p>
        <p><a class="btn btn-default" href="~/Categorias/">Categorías &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Custodias</h2>
        <p>
            En esta opción el usuario podrá realizar las acciones de:
            <ul>
                <li>
                    Insertar un nuevo artículo entregado para custodia.
                </li>
                <li>
                    Consultar los artículos que existen en custodia por diferentes criterios.
                </li>
                <li>
                    Consultar el detalle de los artículos que han sido devueltos a sus diferentes dueños en un intervalo determinado de tiempo agrupado por categoría y subcategoría del artículo y ordenado por fecha de entrega del artículo.
                </li>
            </ul>
        </p>

        <p><a class="btn btn-default" href="~/Custodias/">Custodias &raquo;</a></p>
    </div>
</div>